ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

header {
  display: block;
  background-color: pink;
}
body, html {
  height: 100%;
  margin: 0;
}

{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}



.container img {vertical-align: fill;}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer-clean {
  padding:50px 0;
  background-color:#2D564A;
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:25px;
}

.footer-clean  {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:17px;
  margin-bottom:0;
}

.footer-clean  a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean  a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:center;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:20px;
  opacity:0.6;
}
#p1 
{
  text-align: center;
}


--------login------------

#b1,#ht1 {
  height: 100%;
}

* {
  box-sizing: border-box;
}

div.ex {
  width: 500px;
  margin: auto;
  border: 3px solid  #f2f2f2
;
}
.bg-img {


  /* Control the height of the image */
  min-height: 290px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container1 {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] ,select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
--------------About------------

#l1:hover:not(.active) {
  background-color: ;
}


